// global
$rem_size     : 16px;
$small_size   : 12px;
$row_height   : 27px;
$grid_size    : 32px;
$canvas_width : 320px;
$min_cover_ht : 320px - 92px;
$topbar_ht    : #{3*$row_height/$rem_size}em;
//$diamond-grid_size:  1 * $grid_size / 2.23606797749978969640917366873127623544061835961152572427089;

// breakpoint
$small    : 320px;
$medium   : 640px;
$big      : 768px;
$bigger   : 960px;
$display  : 1220px;
$widescreen: 1600px;

// layout
@include global-box-sizing(border-box);
$poster-col2  : 12 (6.8/20.4);
$poster-col4  : 24 (6.8/20.4);

$column_width : 20.4px;
$gutter_width : 6.8px;
$layout_width : 12 * $column_width + 11 * $gutter_width;
$menu_width   : 11 * $column_width + 10 * $gutter_width;
$group_width  : 8 * $column_width + 7 * $gutter_width;
$drink_width  : 10 * $column_width + 11 * $gutter_width;
