// swatches
$black      : hsla(0, 0, 15%, 1);
$primary_cl : #ec224f;
$cart_bg    : #ffffff;
$page_bg    : hsl(0, 0, 92);
$tasty_bg   : hsl(67, 75, 95);
$drink_bg   : hsl(341, 75, 95);
$lazycat_bg : hsl(186, 16, 85);
$activity_bg: grey;
$border_bg  : hsl(0, 0, 75);

$shadow_bg       : hsl(0, 0, 50);
$tag-border_color: hsl(174, 75, 33);

#cart { @include box__shadow__rtl; }

.head-branding,
#carousel,
.page { @include box__shadow__ltr; }
// #activity { h1 {@include text__shadow; }}

.tasty { background-color: $tasty-bg; &:after { background: $tasty_bg !important;} }
.drink { background-color: $drink_bg; &:after { background: $drink_bg !important;} }
.lazycat { background-color: $lazycat_bg; &:after { background: $lazycat_bg !important;} }
.activity { background-color: $activity_bg; &:after { background: $activity_bg !important;} }