#contact {
  width: 100%;
  box-shadow: none;
  color: white;
  font: #{16px/$rem_size}em/#{(24px/24px)} 'mmf','HanziPen SC';

  &:after,
    &:before {
      content : '';
      display : block;
      position: absolute;
      width   : 100%;
      height  : $rem_size;
      background: url('~assets/imgs/cover-bottom-texture.png') top left/cover;
    }
    &:before {
      top:  0;
      transform: rotateX(180deg) rotateY(180deg) rotateZ(-0.35deg) translateY(70%);
      z-index: 2;
    }
    &:after { bottom: 0; }

    .line-item {
      width: initial;
    }

    p { margin: 1.65em; line-height: 1.5em; }

    .address,
    .telephone {
      padding-left: 6em;

      span {
        display: inline-block;
        position: absolute;
        transform: translateX(-100%);
        width: 6em;
        text-align: right;
      } 
    }
}