#drink.page {
   .category {
    @include breakpoint($big $bigger) {
      @include span(5);
      @include squish(0.5);

      &:nth-of-type(3) { @include break; }
    }

    @include breakpoint($bigger) {
      @include span(3)

      &:nth-of-type(1) { @include pre(0.5); }
      &:nth-of-type(2) { @include span(5); }
      &:nth-of-type(3) { @include post(0.5); }
    }
  }
}

#drink .group {
  display: flex;
  margin: #{$grid_size/$rem_size}em auto #{2*$grid_size/$rem_size}em;
  overflow: scroll;
  justify-content: space-around;
}

#drink .h-product {
  margin-top : #{($grid_size/2/$rem_size)}em;

  .p-name {
    margin          : 0; 
    text-align      : center;
    vertical-align  : middle;
    font            : #{18px/$rem_size}em/#{$grid_size/18px)} 'HanziPen SC';
}

.spec-tag {
  padding     : 0;
  font        : #{12px/$rem_size}em/#{($grid_size/12px)} -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', Helvetica, sans-serif;
  color       : $tag-border_color;
  text-align  : center;
  vertical-align: middle;
}
}
