.page {
  @include container;
  position: relative;
  margin: #{(2*$row_height/16px)}em auto;

  &:before {
    content: '▾';
    display: block;
    color: adjust-color($shadow_bg, $lightness: -10%);
    text-shadow: 3px -1px 3px 3px $page_bg;
    font-size: 2em;
    line-height: 0.25;
    text-align: center;
    flex-basis: 100%; // special for media queries
  }
  &:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 1em;
    right: 0.25em;
    bottom: 0.75em;
    background: $page_bg;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    transform: skew(5deg) rotate(5deg);
    z-index: -1;
  }
}

.category {
  @include layout($poster-col2);
  @include container;
  margin-top: span(1);
  padding-bottom: gutters();
}

.category__title {
  margin: span(1) auto;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font: #{24px/$rem_size}em/#{(42px/24px)} 'HanziPen SC';
  cursor    : pointer;
}
