@media screen and (max-width: 400px) and (orientation: portrait) {
  .head-branding .branding-name { @include absoutly__hidden }
}

@media screen and (max-width: 640px) {
  .head-branding .branding-slogan { @include absoutly__hidden }
}

.head-branding {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 20px;
  padding: 0.5rem 0;
  background: $primary_cl;
  width: 50px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  //font-size: 40px;

  a {
    display: inline-block;
    position: relative;
    //padding: 24px;
    height: 100%;
    line-height: 100%;
    color: initial; 
    text-decoration: none;
    cursor: pointer;
  }

  .branding-logo {
    //width: percentage(84px/$canvas_width);
    margin: auto;
    vertical-align: middle;
    max-width: 80%;
    border-radius: 100%;
    background: white; 
  }

  .branding-name {
    display: block;
    margin-top: 0.5rem;
  }
}
