#cart.is-active ~ #topbar > .head-branding {
  &:before {
    @include breakpoint($small) {
      content : "";
      position: absolute;
      top: 0;
      display : block;
      width   : 100%;
      height  : 0.5rem;
      background-size  : 0.5rem 0.5rem;
      background-image : radial-gradient( 6px at top  center, white 0, grey 3px, transparent 3px);
      background-repeat: repeat-x;
    }
  }
}

.head-branding {
  @include span(1);
  @include breakpoint($medium) { transform: translateX(-100%) };
  display: inline-block;
  background: $primary_cl;
  width: 50px;
  text-align: center;
  color: hsl(0, 0%, 100%);

  a {
    display: inline-block;
    position: relative;
    //padding: 24px;
    height: 100%;
    line-height: 100%;
    color: initial; 
    text-decoration: none;
    cursor: pointer;
  }

  .branding-logo {
    //width: percentage(84px/$canvas_width);
    margin: auto;
    vertical-align: middle;
    max-width: 80%;
    border-radius: 100%;
    background: white; 
  }

  .branding-name {
    @include breakpoint($small $medium) { @include absoutly__hidden  }
    display: block;
    margin-top: 0.5rem;
    height: 5em;
  }
}
