@media screen and (min-width: 640px) {
  .cart__bd {
    display  : flex;
    flex-flow: column wrap;
    height   : calc(100vh - #{$topbar_ht} - #{$row_height/$rem_size}em - #{(42px/$rem_size)}em - #{2*$row_height/$rem_size}em);
    align-items: center;
  }

  .customer   { flex: 0 1 50%; }
  .reservation{ flex: 0 1 ; }
  .payment    { flex: 1 0 ; }
  button[name="place-order-button"] { flex: 1 0; }

  fieldset.customer li label { display: inline-block; }
  fieldset.payment li { display: inline-block !important; margin: 1em; }
}

#cart {
  position: fixed;
  bottom  : 0;
  z-index : 10000000;
  width   : calc(100% - 1em);
  height  : 0;
  margin  : 0 auto;
  overflow: scroll;
  @include box__shadow;
  background-color: white;
  font-family: "HanziPen Sc";
  line-height: #{$row_height/$rem_size}em;
  //transform: translate3d(0, calc(-100vh + #{$topbar_ht} + #{$row_height/$rem_size}em), 0);
  transition: all .3s ease;
  transition-property: height;

  &.is-active {
    height  : calc(100vh - #{$topbar_ht} - #{$row_height/$rem_size}em);
  }

  &:before {
    content : "";
    display : block;
    width   : 100%;
    height  : 0.5rem;
    background-size  : 0.5rem 0.5rem;
    background-image : radial-gradient( 6px at top  center, $shadow_bg 0, grey 3px, transparent 3px);
    background-repeat: repeat-x;
  }
}

.customer, .payment { margin: 1em; min-width: 20em; }

.required {
  font-weight : 800;
  color       : $primary_cl;
  margin-left : 0.25em;
}

fieldset { border-width: 0; padding: 0; }
legend { text-align: center; margin: 1em auto; }

input, textarea, select, button {
  font-family : "HanziPen SC";
  outline     : none;
  border-width: 0;
  background-color: transparent;
}

input.comment-input,
input.coupon-input { width: 8em; border-width: 0; overflow: hidden;}
input[name="is--reserved"] { @include absoutly__hidden; }
input:not(:checked) + label + .reservation-option { @include absoutly__hidden; }

fieldset.customer li input,
fieldset.customer li select,
fieldset.customer li textarea {
  width: calc(100% - 4em);
  border-bottom: 1px dashed $border_bg;
}
fieldset.customer li textarea {
  padding-top: 1em;
  line-height: #{$row_height/$rem_size}em;
  resize: none;
}

fieldset.reservation {
  margin: 1em 0;

  label { position: relative; }
  input:checked + label:after { visibility: visible;}
  label:after {
    content: "✓";
    position: absolute;
    left: 0;
    color: $primary_cl;
    font-family: "Lucida Grande";
    visibility: hidden;
    transition: visibility .2s ease;
  }
  label:before {
    content: "☐";
    font-family: "Lucida Grande";
    margin-right: 0.5em;
  }


  div.reservation-option { display: inline-block; }
}

fieldset.payment ol {
  display: inline-table;
  width: 100%;
  text-align: center;

  li    { display : table-cell; text-align: center; }
  input { @include absoutly__hidden; }
  input:checked + label {
    outline-style: solid;
    color       : $primary_cl;
    background-color: initial;
    cursor: default;
  }
  label {
    display : inline-block;
    margin-left: 1px;
    padding : 0.25em;
    width   : 5em;
    outline : 1px dashed $primary_cl;
    color   : $border_bg;
    background-color: $page_bg;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
  }
}

button[name="place-order-button"] {
  display: block;
  margin : #{1.5*$row_height/$rem_size}em auto;
  text-align: center;
}

.cart__hd {
  margin  : #{$row_height/$rem_size}em 1rem;
  text-align: center;

  h1 { font: #{24px/$rem_size}em/#{(42px/24px)} "HanziPen SC";}
}