#carousel {
  position: relative;
  width   : 100%;
  height  : 100vh;
  min-height: $min_cover_ht;

  &:after,
  &:before {
    content : '';
    display : block;
    position: absolute;
    width   : 100%;
    height  : $rem_size;
    background: url('~assets/imgs/cover-bottom-texture.png') top left/cover;
  }
  &:before {
    top:  0;
    transform: rotateX(180deg) rotateY(180deg) rotateZ(-0.35deg) translateY(70%);
    z-index: 2;
  }
  &:after { bottom: 0; }
}

.slideshow  {
  //position: relative;
  width: 100%;
  height: 100%;
  min-height: $min_cover_ht;

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: $min_cover_ht;
    background-image: url('~assets/imgs/cover.jpg');
    background-size: cover;
    z-index: 0;
  }
}