table.cart-items {
    margin: auto;
    margin-bottom: 20px;
    width: span(12);
    border-collapse : collapse;
    text-align      : left;
    line-height     : #{($row_height - 2px)/$rem_size}em;
    white-space     : nowrap;

    thead { border-bottom: 1px solid $border_bg; }

    th { color: $border_bg; }
    th:last-child,
    td:last-child:not(:only-child) { text-align: right; }

    th, tfoot tr:not(:last-child) {
      font-size   : #{$small_size/$rem_size}em;
      line-height : #{($row_height -2px)/$small_size}em;
    }

    td label { float: left; }
    td input { width: calc( #{$canvas_width} - 10em); }
}

tr.h-item .spec-price:before,
.money:before { content: "¥"; }

