.line-item {
  width: 100%;
  font-size   : #{$small_size/$rem_size}em;

  .charge-info & { text-align: right; }

  .charge-info & .money {
    display: inline-block;
    width: 3em;
  }
}

.step-wrap {
  @include span(12);
  margin: 1em auto;
}

.step__hd {
  margin: 1em auto;
  text-align: center;
  color: $border_bg;
}

.asterisk {
  font-weight : 800;
  color       : $primary_cl;
  margin-left : 0.25em;
}

.submit-button {
  display: block;
  margin : #{1*$row_height/$rem_size}em auto;
  padding: 1em;
  text-align: center;
}

input[name="is--reserved"] { @include absoutly__hidden; }
input:not(:checked) + label + .reservation-options { visibility: hidden; }

.reservation {
  label { cursor: pointer; }

  label:before {
    content: "✓";
    position: absolute;
    right: 0;
    color: $primary_cl;
    font-family: "Lucida Grande";
    visibility: hidden;
    transition: visibility .3s ease;
  }

  label:after {
    content: "☐";
    font-family: "Lucida Grande";
    margin-left: 0.5em;
  }

  input:checked + label:before { visibility: visible; }
}

.reservation-options {
  display: inline-block;
  transition: visibility .3s ease;

  .option__delayday, .option__time { width: initial; }
}

fieldset.payment ol {
  display: inline-table;
  width: 100%;
  text-align: center;

  li    { display : table-cell; text-align: center; }
  input { @include absoutly__hidden; }
  input:checked + label {
    outline-style: solid;
    color       : $primary_cl;
    background-color: initial;
    cursor: default;
  }
  label {
    display : inline-block;
    margin-left: 1px;
    padding : 0.25em;
    width   : 5em;
    outline : 1px dashed $primary_cl;
    color   : $border_bg;
    background-color: $page_bg;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
  }
}
