.cart {
  @include layout($poster-col2)
  @include container; 
  background-color: white;
  overflow: scroll;
  font-family: "HanziPen Sc";
  line-height: #{$row_height/$rem_size}em;

  &:before {
    content : "";
    display : block;
    width   : 100%;
    height  : 0.5rem;
    background-size  : 0.5rem 0.5rem;
    background-image : radial-gradient( 6px at top  center, $shadow_bg 0, grey 3px, transparent 3px);
    background-repeat: repeat-x;
  }

  &__hd {
    margin  : #{$row_height/$rem_size}em auto;
    text-align: center;

    h1 { font: #{24px/$rem_size}em/#{(42px/24px)} "HanziPen SC";}
  }

  &__bd {
    margin: auto gutters();
    width: span(11);

    & .empty-reminder { text-align: center; }
  }
}

.line-item {
  width: 100%;
  font-size   : #{$small_size/$rem_size}em;

  .charge-info & { text-align: right; }

  .charge-info & .money {
    display: inline-block;
    width: 3em;
  }
}

.step-wrap {
  @include span(12);
  margin: 1em auto;
}

.step__hd { text-align: center; margin: 1em auto; }

.form-input {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid $border_bg;
  background: $cart_bg;

  &__hd {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 0 50%;
    transition: font-size 0.1s, transform 0.1s;
    white-space: nowrap;
    color: $border_bg;
  }

  &__bd { padding: 0 0 0 4em; }
}

.asterisk {
  font-weight : 800;
  color       : $primary_cl;
  margin-left : 0.25em;
}

.submit-button {
  display: block;
  margin : #{1*$row_height/$rem_size}em auto;
  padding: 1em;
  text-align: center;
}

input[name="is--reserved"] { @include absoutly__hidden; }
input:not(:checked) + label + .reservation-options { visibility: hidden; }

.reservation {
  label { cursor: pointer; }

  label:before {
    content: "✓";
    position: absolute;
    right: 0;
    color: $primary_cl;
    font-family: "Lucida Grande";
    visibility: hidden;
    transition: visibility .3s ease;
  }

  label:after {
    content: "☐";
    font-family: "Lucida Grande";
    margin-left: 0.5em;
  }

  input:checked + label:before { visibility: visible; }
}

.reservation-options {
  display: inline-block;
  transition: visibility .3s ease;

  .option__delayday, .option__time { width: initial; }
}

fieldset.payment ol {
  display: inline-table;
  width: 100%;
  text-align: center;

  li    { display : table-cell; text-align: center; }
  input { @include absoutly__hidden; }
  input:checked + label {
    outline-style: solid;
    color       : $primary_cl;
    background-color: initial;
    cursor: default;
  }
  label {
    display : inline-block;
    margin-left: 1px;
    padding : 0.25em;
    width   : 5em;
    outline : 1px dashed $primary_cl;
    color   : $border_bg;
    background-color: $page_bg;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
  }
}
