#coffee .group {
  background-image:
  linear-gradient(to right, $border_bg, $border_bg 1px, transparent 1px, transparent #{(($grid_size - 1px)/$rem_size)}em),
  linear-gradient($border_bg, $border_bg 1px, transparent 1px, transparent #{(($grid_size - 1px)/$rem_size)}em);
  background-size:
  #{($grid_size/$rem_size)}em #{($grid_size/$rem_size)}em,
  100% #{($grid_size/$rem_size)}em;
  background-position : -#{($grid_size/2/$rem_size)}em -#{($grid_size/2/$rem_size)}em;
  background-origin   : content-box;
  background-clip     : content-box;
  justify-content     : flex-start;
  
  .h-product {
    width: #{$grid_size/$rem_size}em;
    margin-left: #{($grid_size/$rem_size)}em;
    margin-bottom: #{($grid_size/2/$rem_size)}em;
  }
  .h-product:nth-of-type(1) { margin-left: #{(0.5*$grid_size/$rem_size)}em; }

  .p-name { @include text__shadow; }

  .p-spec {
    position  : relative;
    -webkit-margin-after: #{$row_height/2/12px}em;
    margin-bottom: 8px;
    outline   : 1px dashed $tag-border_color;
    text-align: center;
  }
  .p-spec.isSelected { outline-style: solid; }
  .p-spec.isSelected:before {
    content: '✓';
    display: block;
    width: $grid_size;
    height: $grid_size;
    font    : #{(18px/12px)}em/#{($grid_size/18px)} 'Lucida Grande';
    word-spacing: 0;
    color   : white;
    background-color: $tag-border_color;
  }
}