.drawers {
  @include container;

  @include breakpoint($medium) {
    @include layout(4 0 no-gutter);
    @include nested(4) {
      //display : flex;
      position: relative;
      margin : 1em auto;
      transform: translateY(0);
      width: 100%;

      .drawer {@include span(1) }
    }
  }

  position: absolute;
  //bottom: 0;
  z-index:  700;
  transform: translateY(-100%);
  width  : span(8 of 10);
}

.drawer {
  @include breakpoint($medium) {
    position: relative;
    border-bottom: 1px solid $black;

    .no-touch &:hover .drawer__bd,
    &.is-active .drawer__bd { visibility: visible; }
    .drawer__bd {
      position: absolute;
      visibility: hidden;
    }
  }

  //position: absolute;
  border-bottom: 1px solid $black;
  text-align: center;
  opacity: 0.9;
  transition: background-color .5s ease;

  .no-touch &:hover .drawer__bd,
  &.is-active .drawer__bd { display: block; }
  .drawer__bd {
    display: none;
    bottom  : #{42px/$rem_size}em;
    width   : 100%;
  }
}

.drawer__hd { font: #{24px/$rem_size}em/#{(42px/24px)} 'mmf', 'HanziPen SC'; }

.drawer a  {
  display: inline-block;
  width: 100%;
  height: #{42px/$rem_size}em;
  line-height: #{42px/$rem_size};
  font-family: 'mmf', 'HanziPen SC';
  color: initial; text-decoration: none;
}

.menu-title { @include absoutly__hidden; }

.tasty .drawer__bd { background-color: $tasty-bg;       &:after { background: $tasty_bg !important;} }
.drink .drawer__bd { background-color: $drink_bg;       &:after { background: $drink_bg !important;} }
.lazycat .drawer__bd { background-color: $lazycat_bg; &:after { background: $lazycat_bg !important;} }
.drawer.activity, .activity .drawer__bd { background-color: $activity_bg; &:after { background: $activity_bg !important;} }
