// Layout
$susy: (
  columns: 12,
  gutters: 6.8/20.4,
  global-box-sizing: border-box,
  );

body { padding: 0.75em; padding-top: 3em; }

.container {
  margin: auto;
  position: relative;
  perspective: 800px;
  max-width: 320px;
}

#paper {
  @include layout($poster-col2)
  @include container
  position: relative;
  min-height: 685px;
  transform-origin: right center;
  transform-style: preserve-3d;
  transition: transform 1s;

  &.is-flipped {
    transform: translateX( -100% ) rotateY( -180deg );

    .front { backface-visibility: hidden }
  }

  .front,
  .back {
    @include full;
    margin: auto;
    display: block;
    position: absolute;
    background: white;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    overflow: hidden;
    min-height: 658px;
  }
  .back { transform: rotateY( 180deg ) }
}

.step-wrap {
  @include span(12);
  margin: 1em auto;
}

#order {
  @include breakpoint($small) { max-width: 320px; }
  position: relative;
  z-index: 1;
  overflow: initial;

  .line-item {
    line-height: #{$row_height/$rem_size}em;
    width: 100%;
  }
}

.panel__bd {
  @include container;
  position: relative;
  margin-top: -9em;
  padding-top: 9em;
}

#times {
  position: absolute;
  top: 0;

  &.line-item { margin-top: #{27px/$rem_size}em; }
}

#items .step__hd {
  margin-top: #{27px/$rem_size}em;
  color: $border_bg;
}

#topbar {
  display : block;
  //position: fixed;
  z-index : 900;
  //height  : 5em;
  width   : 100%;
  padding : 0 span(1 wide);
  transform-style: preserve-3d;
  transition: all .3s ease;

  .head-branding { height: 100%; cursor: pointer; }
  .branding-logo { max-height: 5em; width: auto; }
}

#status-bar ul {
  @include container
  @include layout((2 3 4 3) 0 isolate no-gutters)
  position: relative;
  padding-top: 3em;

/*
  &:before {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20%;
    transform: translateY(-50%);
    content: "";
    width: 100%;
    height: 2px;
    border: 1px dashed white;
    //background: $border_bg;
  }
  */
}

.step-bullet {
  display: block;
  position: relative;
  text-align: center;

  &:before {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20%;
    transform: translateY(-50%);
    content: "";
    width: 100%;
    height: 2px;
    border: 1px solid $primary_cl;
  }

  &:nth-of-type(1) { @include span(isolate 1 at 1 of (2 3 5 2) no-gutters); }
  &:nth-of-type(2) { @include span(isolate 1 at 2 of (2 3 5 2) no-gutters); }
  &:nth-of-type(3) { @include span(isolate 1 at 3 of (2 3 5 2) no-gutters); }
  &:nth-of-type(4) { @include span(isolate 1 at 4 of (2 3 5 2) no-gutters); }

  &.is-active ~ &:before { border: 1px dashed white; background: $border_bg; }
  &.is-active ~ & .step-label { color: $border_bg; }
  &.is-active ~ & .step-label:before { background: $border_bg; }
}

.step-label {
  display: block;
  position: relative;
  z-index: 3;
  color: $primary_cl;
  padding-top: 1em;

  &:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    background: $primary_cl;
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
  }
}

.step-time {
  display: block;
  position: absolute;
  left: 50%;
  //top: -100%;
  transform: translate(-50%, -250%);
  color: $primary_cl;
  content: "";
}

#customer h1 {
  line-height: #{($row_height - 2px)/$rem_size}em;
  text-align: center;
  font-size: initial;
  font-weight: normal;
  color: $border_bg;
}

.submit-button {
  width: 100%;
  height: 50px;
  background-color: $primary_cl;
  color: white;
  border-radius: 0;

  &[disabled='true'] {
    background: hsl(0, 0%, 97%);
    color: initial;
  }
}

.back article {
  padding: 1em;
  text-align: center;

  h2 {
    margin: 0.67em;
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: normal;
  }

  p { margin-top: 0; text-align: center ; }

  .website,
  .telephone,
  .address {
    display: table-row;

    a { color: $black; border-bottom: 1px dashed $primary_cl; }

    span:nth-of-type(1) {
      display: table-cell;
      min-width: 6em;
      text-align: right;
    }
    span:nth-of-type(2) {
      display: table-cell;
      text-align: left;
    }
  }
}

footer {
  padding     : 1em;
  padding-top : 5em; 
  line-height : #{$row_height/$rem_size};
  color       : adjust-color($black, $alpha: -0.65);
  font-weight : 200;
  text-align  : center;
  //text-transform: capitalize;

  a:link { color: inherit; text-decoration: none; }
  a:hover{ color: $black; font-weight: bold; }

  .copyright { font-size: #{14px/$rem_size}em; }
}