.panel {
  @include layout($poster-col2)
  @include container; 
  background-color: white;
  overflow: scroll;
  font-family: 'HanziPen Sc';
  line-height: #{$row_height/$rem_size}em;

  &:before {
    content : "";
    display : block;
    width   : 100%;
    height  : 0.5rem;
    background-size  : 0.5rem 0.5rem;
    background-image : radial-gradient( 6px at top  center, $shadow_bg 0, grey 3px, transparent 3px);
    background-repeat: repeat-x;
  }

  &__hd {
    margin  : #{$row_height/$rem_size}em auto;
    text-align: center;

    h1 { font: #{24px/$rem_size}em/#{(42px/24px)} 'HanziPen SC';}
  }

  &__bd {
    margin: auto;
    width: span(11);

    & .empty-reminder { text-align: center; }
  }
}