.pswp__counter,
.pswp__caption__center {
	font-family: 'mmf', 'HanziPen SC';
	color: $primary_cl;
}

/*
@media (-webkit-min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
	.pswp--svg .pswp__button,
	.pswp--svg .pswp__button--arrow--left:before,
	.pswp--svg .pswp__button--arrow--right:before {
	    background-image: url('~assets/imgs/pswp-skin.svg');
	}
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
	background: url('~assets/imgs/pswp-skin.png') 0 0 no-repeat;
	background-size: 264px 88px;
	width: 44px;
	height: 44px;
}
*/