.topbar-toggles {
  width: 100%;
  padding:  20px;
  text-align: right;

  a {
    display: inline-block;
    margin-left: 0.5em;
    color: white;
    text-decoration: none;

    .no-touch &:hover {
      color: $primary_cl;
      @include text__shadow;
    }
  }
}

.cart-toggle,
.account-toggle {
  display: table-cell;
  z-index: 4;
  vertical-align: middle;
  border : 1px solid $primary_cl;
  border-radius: 100%;
  width: #{2*18px/$rem_size}em;
  height: #{2*18px/$rem_size}em;
  text-align: center;

  &:before {
    font: #{18px/$rem_size}em 'icomiaomfood';
  }
}

.cart-toggle:before { content: '\e917'; }
.account-toggle:before { content: '\e92f'; }