.topbar-toggles {
  @include span(1 wider last);
  display: inline-table;
  padding:  20px;
  padding-right: 0;

  a {
    display: table-cell;
    width: span(1 wide);
    color: $primary_cl;
    text-align: center;
    text-decoration: none;

    .no-touch &:hover {
      color: $primary_cl;
      @include text__shadow;
    }
  }
}

.cart-toggle,
.console-toggle {
  //border : 1px solid $primary_cl;
  //border-radius: 100%;
  width: #{2*18px/$rem_size}em;
  height: #{2*18px/$rem_size}em;

  &:before {
    font: #{18px/$rem_size}em 'icomiaomfood';
  }
}

.cart-toggle:before { content: '\e917'; }
.console-toggle:before { content: '\e92f'; }