body {
  background-color: $page-bg;
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: 'HanziPen SC';
  src: local('HanziPen SC');
  src: local('HanziPenSC-W3');
}

@font-face {
  font-family: 'Lucida Grande';
  src: local('Lucida Grande');
}

@font-face {
  font-family: 'icomiaomfood';
  src: url('~assets/fonts/icomiaomfood.woff');
}

* {
  box-sizing           : border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after : 0;
  -webkit-margin-start : 0;
  -webkit-margin-end   : 0;
}

::selection { color: white; background: $primary_cl; }

ol,ul { list-style-type: none; margin:0; padding: 0; }

h1 { margin: 0; }

img { max-width: 100%; }

fieldset { margin: 0; border-width: 0; padding: 0; }

input,textarea, select, option {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  background : none;
  background-color: hsla(0, 0%, 0%, 0);
  cursor: pointer;
  -webkit-appearance : none;
  -moz-appearance : none;
}
