// Layout
$susy: (
  columns: 12,
  gutters: 6.8/20.4,
  global-box-sizing: border-box,
  );

.wrap {
  @include container
}

#cart {
  @include breakpoint($small) { height: 100vh; }
  @include breakpoint($medium) { margin-top: 1em; height: calc(100vh - 2em); }
  position: fixed;
  right   : 0;
  z-index : 800;
  width   : 0;
  transition: all .3s ease;

  &.is-active {
    @include breakpoint($small)  {
      width: 100%;
    }

    @include breakpoint($medium) {
      margin-right: ( 1/2 * gutters() );
      width: span(6);

      & ~ #topbar,
      & ~ #carousel,
      & ~ #menu,
      & ~ #poster,
      & ~ footer {
        width: span(6 of 12);
      }

      & ~ #topbar .branding-name { @include absoutly__hidden }
    }

    @include breakpoint($big) {
      //margin-right: ( 1/2 * gutters() );
      width: span(4);

      & ~ #topbar,
      & ~ #carousel,
      & ~ #menu,
      & ~ #poster,
      & ~ footer {
        width: span(8 of 12);
      }

      & ~ #poster #pizza .group {
        @include span(6 of 8);
        &:nth-of-type(2n+1) { @include squish(1.5); }
        &:nth-of-type(2n)   { @include break; @include squish(1.5); }
      }

      & ~ #poster #meal .group {
        @include span(8 of 8);
        &:nth-of-type(2n+1) { @include last; @include post(1 wide); }
        &:nth-of-type(2n)   { @include break; @include pre(1 wide); }
      } 
    }
  }
}

#topbar {
  display : block;
  position: fixed;
  z-index : 900;
  height  : 5em;
  width   : 100%;
  padding : 0 span(1 wide);
  transition: all .3s ease;
}

#carousel {
  @include breakpoint($medium) { margin-bottom: -#{(42px+32px)/$rem_size}em }
  position: relative;
  width   : 100%;
  height  : 100vh;
  min-height: $min_cover_ht;
  transition: all .3s ease;
}

#menu {
  width: 100%;
  padding : 0 span(1 wide);
  transition: all .3s ease;
}

#poster {
  //@include container;
  transition: all .3s ease;
}

footer {
  padding     : 1em;
  line-height : #{$row_height/$rem_size};
  color       : adjust-color($black, $alpha: -0.65);
  font-weight : 200;
  text-align  : center;
  //text-transform: capitalize;

  a:link { color: inherit; text-decoration: none; }
  a:hover{ color: $black; font-weight: bold; }
}
